@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #333b47;
  font-family: "Titillium Web", sans-serif;
}
h1 {
  text-align: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container_main {
  width: 1000px;
  margin: 0 auto;
}
table {
  text-align: center;
  width: 100%;
  border: 1px solid #cacaca;
  border-collapse: collapse;
}
thead {
  background: #dedede;
}
table th {
  color: #333;
}
table td,
table th {
  padding: 10px;
  border: 1px solid #cacaca;
}
label {
  display: block;
  margin-bottom: 10px;
}
a,
a:hover,
a:active,
a:visited {
  font-weight: bold;
  color: #fff;
}
.form,
.template_inner {
    width: 50%;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
.template_inner {
    padding: 0 30px;
    width: 35%;
}
button {
  background: #ff8800;
  display: inline-block;
  border-radius: 4px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  border: none;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  min-width: 120px;
  box-shadow: 0 4px 2px -2px gray;
}
.text_field {
  position: relative;
  padding: 0;
  margin: 5px;
  border: none;
  overflow: visible;
}
.text_field textarea {
  box-sizing: border-box;
  width: 100%;
  height: 280px;
  padding: 12px 10px 8px;
  background: #333b47;
  color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  font-size: 120%;
  outline: none;
  cursor: text;
}
.text_field textarea::-webkit-textarea-placeholder {
  transition: color 300ms ease;
}
.text_field textarea:not(:focus)::-webkit-textarea-placeholder {
  color: transparent;
}
.text_field hr {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #ff8800;
  font-size: 1px;
  will-change: transform, visibility;
  transition: all 200ms ease-out;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}
.text_field textarea:focus~hr {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}
.text_field label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 120%;
  color: #ff8800;
  -webkit-transform-origin: 0 -150%;
  transform-origin: 0 -150%;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  pointer-events: none;
}
.text_field textarea:focus~label,
.text_field textarea:valid~label {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
.text_field .template {
  min-height: 150px;
}
.text_field .template::-webkit-scrollbar {
  width: 4px;
}
.text_field .template::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.text_field .template::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.font_inner {
  position: absolute;
  right: 0;
  top: 40px;
  transition: all 0.3s ease;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}
.wrapper_form {
  position: relative;
}
.editable {
  cursor: pointer;
}
.editable.active {
  background: #ff8800;
  color: #000;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}